* {
    margin: 0;
    padding: 0;
}


.work-sans-primary {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.btn {
    background-color: #F15B22;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;


}

.header-section {
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../images/banner/banner1.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;


}


.header-wrp {
    width: 50%;
    padding-right: 20px;
    text-align: right;
}

.header-img {
    width: 100%;
    display: none;
    /* border: 1px solid red; */
}

.header-img img {
    width: 100%;
    height: 100%;
}

.header-title {
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    text-align: right;
    padding: 30px;
}

.header-description {
    font-size: 16px;
    color: #444343;
    padding: 30px;
    text-align: right;
}



.main-div {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;

}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faiures-img {
    width: 50%;
    margin-right: 10px;
}

.faiures-img {
    width: 580px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: 40px;
}

.faiures-img img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
}

.faiures-img::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 540px;
    border-radius: 100%;
    background-image: url('../images/gradient3.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.faiures-item {
    width: 41%;
    margin: 20px;
    padding: 20px;
}

.faiures-title {
    font-size: 40px;
    font-weight: bold;
    color: #151414;

}

.faiures-description {
    font-size: 16px;
    color: #444343;
    margin: 20px 0px;

}

.faiures-item ul li {
    list-style-type: square;
    color: #444343;
    margin-left: 20px;
    padding: 5px 15px;

}

.my-plans {

    width: 100%;
    margin-top: 20px;
    

}

.plans-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

.item {
    text-align: center;
}

.plans-title {
    text-align: center;
}

.plans-items-title {
    font-size: 30px;
    font-weight: bold;
    color: #151414;
}

.plans-item-description {
    font-size: 16px;
    color: #444343;
}

.bottom-banner {
    width: 100%;
    height: 300px;
    margin-top: 120px;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center, top left;
    background-size: cover, ;
    display: flex;
    align-items: center;

}

.content-wrap {
    width: 30%;
    padding-left: 65px;
}

.bttom-bannertitle {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;


}

.footer-section {
    max-width: 1600px;
    height: auto;
    background-color: #151414;
    /* margin-top: 130px; */
    margin: 0 auto;
    padding: 10px;

}

.footer-wraper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer-left {
    width: 50%;
    color: #fff;
    /* margin-top: 50px; */
    padding: 230px 30px;
    /* border: 2px solid #fff; */
}

.footer-title {
    font-size: 30px;
    margin: 20px 0px;
}

.footer-description {
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-img {
    margin-top: 30px;
    padding: 0px 17px;
}

.fotter-right {
    width: 50%;
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    /* border: 2px solid #fff; */
}

.fotter-title {
    font-size: 30px;
    margin-bottom: 20px;

}

.footer-input {
    height: 30px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    border: none;
}

.footer-btn {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    color: #F15B22;
    font-size: 18px;
    border-radius: 10px;

}

/* ========================responsive=================== */
.heiden {
    display: none;
}

@media screen and (max-width:576px) {

    .header-section,
    .main-section,
    .plans-items,
    .bottom-banner,
    .footer-wraper {
        flex-direction: column;

    }

    .header-section {
        background-image: none;
        height: auto;

    }

    .header-wrp {
        width: 100%;
    }

    .header-title,
    .header-description,
    .header-wrp {
        text-align: center;
    }

    .header-img {
        display: block;
    }

    .faiures-img {
        width: 75%;
    }

    .faiures-img::before {
        content: "";
        position: absolute;
        top: 48%;
        left: 51%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 88%;
        border-radius: 100%;
        background-image: url(../images/gradient3.png);
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .faiures-item {
        margin: 0;
        padding: 0;
        width: 90%;
    }
    .bottom-banner{
        margin-top: 20px;
       
    }
    .content-wrap{
        width: 80%;
        text-align: center;
    }
    
    
    .footer-section{
        height: auto;
    }
    .footer-wraper, .footer-left,.fotter-right{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .fotter-right button, .btn_bottombanner{
        width: 30%;
        margin: 15px auto;
    }
    .main-div{
        margin-bottom: 0px;
    }


}